<div id="${id}" class="lsHeader" dojoAttachPoint="container">
	<div class="lsHeaderNavigation" dojoAttachPoint="navigationNode">
		<table><tr>
			<td><span class="lsIconNavLeftBue"></span></td>
			<td><span class="lsNavigationText"></span></td>
		</tr></table>
	</div>
	<div class="lsHeaderUser" dojoAttachPoint="userNode">
		<table><tr>
			<td><span class="lsIconUser"></span></td>
			<td>
				<span class="lsUserName"></span>
				<br />
				<span class="lsUserInfo"></span>
			</td>
		</tr></table>
	</div>
</div>
